{% extends 'base.html' %}

{% load form_helpers %}
{% load buttons %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'netbox_gitlab/style.css' %}">
    <h1>{% block title %}GitLab - Export Inventory{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Errors</strong></div>
            <div class="panel-body">
                {{ form.non_field_errors }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ diff }}
                </div>
            </div>
        </div>
    </div>

    <form method="post" autocomplete="off">
        {% csrf_token %}

        {# The full new data to be committed, so that nothing can change after viewing the changes #}
        {{ form.update.as_hidden }}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>GitLab</strong></div>
                    <div class="panel-body">
                        {% render_field form.branch %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Commit to GitLab</button>
                <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let branches = [
                {% for branch in branches %}
                    "{{ branch }}",
                {% endfor %}
            ];
            $("#id_branch").autocomplete({
                source: branches,
                minLength: 0
            }).on("focus", function () {
                $(this).autocomplete("search", this.value);
            });
        });
    </script>

    {% include 'netbox_gitlab/diff_highlight_line.html' %}
{% endblock %}
