{% extends 'base.html' %}

{% load form_helpers %}
{% load buttons %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'netbox_gitlab/style.css' %}">
    <div class="row noprint">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>GitLab - Export Inventory</li>
            </ol>
        </div>
    </div>
    <h1>{% block title %}GitLab - Export Inventory{% endblock %}</h1>
    <p>
        Exporting to GitLab branch <b>{{ branch }}</b>:
    </p>
{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Errors</strong></div>
            <div class="panel-body">
                {{ form.non_field_errors }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body gitlab_diff">
                    {{ diff }}
                </div>
            </div>
        </div>
    </div>

    <form method="post" autocomplete="off">
        {% csrf_token %}

        {# Resubmit our original input in case the POST can't be processed #}
        {{ form.branch.as_hidden }}

        {# The full new data to be committed, so that nothing can change after viewing the changes #}
        {{ form.update.as_hidden }}

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Commit to GitLab</button>
                <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>

    {% include 'netbox_gitlab/diff_highlight_line.html' %}
{% endblock %}
